@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Playlist";
}
@section underline_play{
    active
}
<script>
    
</script>
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="promo-title">Find the best Career for you...</p>
                <p>
                    G4 Guidance is a platform that'll help you to get admission in your dream University of
                    Pakistan'
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eum debitis ab ratione
                    nostrum
                    aliquam sequi dicta ipsum cumque! Repellat explicabo eaque tenetur laudantium enim quo quas
                    provident impedit veritatis.
                </p>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" id="MainVideo"
                            src="https://www.youtube.com/embed/4e6KSaCxcHs" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <img src="~/src/End.png" id="endSection">
</section>
<section class="videos">
    <div class="container text-center">
        <h1 class="title"> Videos</h1>
        <div class="row text-center">
            @foreach(var video in ViewBag.list)
            {
                <div class="col-md-4 services blog-item">
                    <div class="card">
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="@video.link"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>   
            }
        </div>
        <button class="btn blog-Load" id="Load-btn">Load More</button>
</section>
<vc:featured-blog></vc:featured-blog>
<partial name="_subcribeform" />