@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p><i class="fa-solid fa-location-pin"></i>Lahore, Punjab</p>
<p><i class="fa-solid fa-phone"></i>+923124006589</p>
<p><i class="fa-solid fa-envelope"></i>ahmadsarwarjeo67@gmail.com</p>
