@using G4_Guidance.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="featured text-center">
    <h1 class="title"> Featured Blogs</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row text-center">
                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/images.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class="  btn btn-primary btn-blog btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/images2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index.4jpg.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row text-center">
                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row text-center">
                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 services">
                        <div class="card">
                            <img src="~/src/index2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk
                                    of the card's
                                    content.
                                </p>
                                <a href="#" class=" btn btn-primary btn-blog">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
</section>